node_modules
vendor
coverage
tests/Browser/console
tests/Browser/screenshots
tests/Browser/source
tests/Browser/tmp
.phpunit.result.cache
.phpunit.cache/
yarn-error.log
.idea
.vscode
.php-cs-fixer.cache
