name: WireUi Tests

on:
  push:
    branches:
      - main

  pull_request:
    types: [ready_for_review, synchronize, opened]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: [8.1, 8.2, 8.3]
        laravel: [10.*, 11.*]
        exclude:
          - php: 8.1
            laravel: 11.*
          - php: 8.2
            laravel: 11.*

    name: PHP:${{ matrix.php }} / Laravel:${{ matrix.laravel }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node and run tests
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
      - run: yarn install --frozen-lockfile
      - run: yarn lint
      - run: yarn build
      - run: yarn test

      - name: Setup PHP, with composer and extensions
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick
          tools: composer:v2
          coverage: none

      - name: Install Composer dependencies
        run: |
          composer require "laravel/framework:${{ matrix.laravel }}" --no-interaction --no-update
          composer update --no-interaction --no-suggest

      - name: Setup dusk/chrome
        run: vendor/bin/dusk-updater detect --auto-update

      - name: Run PHPUnit tests
        run: composer test
        env:
          RUNNING_IN_CI: true
